@media (min-width: 1px) and (max-width: 480px)  {

  #container {
    top: 35% !important;
    h1 { font-size: 3rem !important; margin: 35px 0px 35px 0px; }
  }


  .social__box-link {
    font-size: 3rem !important;
    margin: -15px 20px 0px 15px !important;
  }
}