doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title One Page Website
  body
   -
    var socialIcons = [
      {
        "icon": "facebook2",
        "url": "#"
      },
      {
        "icon": "linkedin",
        "url": "#"
      },
      {
        "icon": "github",
        "url": "#"
      },
      {
        "icon": "new-tab",
        "url": "#"
      }
    ]

  #stars
  #stars2
  #stars3
  #container
    nav
      .menu
        .menu__item
          //- span.icon-wondering
          a(href='#') About
        .menu__item
          //- span.icon-hammer
          a(href='#') Portfolio
    .avatar
      //- img(src='asset/image/avatar.jpeg')
    h1 Hello, I'm Developer!
    ul.social__icons
      each social, key in socialIcons
        li.social__item
          label.social__label(for=`message-box-id-${key}`)
          a.social__box-link(href=social.url, target="_blank")
            span(class=`icon-${social.icon}`)
    .scroll__next
      a.social__box-link(href='#')
        span.icon-circle-down